<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Urban4m Presentations Platform</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="text/css" rel="stylesheet" href="core/css/bootstrap.min.css"/>
        <style>
           form{ width:300px;
            height:250px;
            margin:auto;
            display:block;
            border-radius:50% 50% 50% 50%;
            border:solid 1px #CCC;
            text-align:center;
            padding-top:50px;
            margin-top:100px;
            }
        </style>
    </head>
    <body>
        <form action="/slides/" method="POST">
            <h3>Urban4m<br/>Presentations</h3>
            <input placeholder="Your Password" type="password" name="password"/>
            <br/><button type="submit" class="btn btn-primary">Submit</button>
        </form>


    </body>
</html>
