
<span  class="search_term" ng-class="{edit:editable,error:(editable && !valid), accepted:(!editable && valid)}">
<style>
.searching_bar .search_term{
            display:inline-block
        }        
        
 .searching_bar .search_term .term-cont{
            position:relative;
            display:inline-block;
            /*border:solid 1px #ddd;
            padding:5px;
            width:270px;
            text-align:left;
            
            padding-top:10px;
            padding-bottom:10px;
            border-radius:5px;*/
        }
        
 .searching_bar .search_term .search-item-commit{
            /*width:43px;
            height:43px;*/
            display:inline-block;
            
        }
        
        
.searching_bar .search_term .list{
            position:absolute;
            left:0;
            top:100%;
            background-color:white;
            overflow:hidden;
        }
        
.searching_bar .search_term.accepted{
            /*background-color:lightblue;
            color:white;
            font-weight:bold;
            border:solid 1px blue;*/
            
        }
        
.searching_bar .search_term.edit.error{
            display:inline;
            position:relative;
            /*border:solid 2px #ff5555;*/
        }
        
.searching_bar .search_term.ng-leave{
            display:none;
        }
        
                
.searching_bar .search_term.edit .term{
           display:inline-block;
           margin-bottom:0px;
           /* line-height:1em;
            
            
            width:250px;
            padding:0;
            font-size:16px;*/
           
        }
.searching_bar .search_term.edit .display{
            display:none;
           
        }
        
.searching_bar .search_term.accepted .term{
            display:none;
           
        }
        
.searching_bar .search_term.accepted .display{
            display:inline;
           
        }

        
.searching_bar .search_term.edit .term, .nbds_leftbar .main_container .searching_bar .search_term.edit .term:focus, .nbds_leftbar .main_container .searching_bar .search_term.edit .term:hover{
            border:none;
            box-shadow:none;
            outline: none;

        }

.searching_bar .hidden-terms-cont{
           /* min-height:80px;
            background-color:#EEE;
            border:solid #d9d9d9 1px;
            position:relative;
            margin-top:10px;*/
        }
        
.searching_bar .hidden-terms-cont .arrow{
                /*border: solid 11px transparent;
                border-bottom-color:#d9d9d9 !important;
                top:-22px;
                width:-11px;
                */
                height:0px;
                right:55px;
                position:absolute;
                
        }
        
.searching_bar .hidden-terms-cont .arrow:after {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            position: absolute;
            top:1px;
display: block;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
/*border-width: 10px;*/
content: "";
bottom: 1px;
margin-left: -10px;
/*border-bottom-color: #eee;*/
border-top-width: 0;
        position:absolute;
       }
</style>

    
    <table cellspacing="0" cellpadding="0"> 
          <tr>
              <td style="vertical-align:top; padding:0">
                  
          <span class="term-cont">         
            <input type="text"  placeholder="{/{placeh}/}" ng-model="value" ng-disabled="searchingrt" class="term"/>
                <span class="display">{/{value}/}</span>
                <span ng-hide="(!editable || !valid || !active)" class="list" style="z-index:4000">
                    <ul>
                        <li ng-repeat="cat in filteredList">
                            <h4 ng-if="scats">{/{cat.name}/}</h4>
                            <ul>
                                <li ng-repeat="term in cat.terms" ng-click="$parent.$parent.Force(term.id,term.name)">
                                    {/{term.name}/}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </span>
                <i class="icon-remove" ng-click="Delete()"></i>
       </span></td><td style="vertical-align:top; padding:0">
                <span class="search-item-commit" ng-if="!autoCommit1" ng-click="submit()"></span>
              </td>
      </tr>
      </table>
            </span>