<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" id="ng-app" ng-app="aboutPlace"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ABOUTPLACE.co. Relocate Smarter</title>
        <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
        <link type="text/css" rel="stylesheet" href="css/perfect-scrollbar.css"/>
	<link type="text/css" rel="stylesheet" href="css/angular-ui.css"/>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="css/bootstrap-responsive.min.css"/> 
	<link type="text/css" rel="stylesheet" href="css/aboutplace.css"/>
	<script type="text/javascript" src="js/maps/lib/OpenLayers.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/d3.v3.min.js"></script>
        
        <script type="text/javascript" src="js/angular-1.2/angular.min.js"></script>

        <script type="text/javascript" src="js/angular-1.2/angular-route.min.js"></script>        
        <script type="text/javascript" src="js/angular-1.2/angular-animate.min.js"></script>        
        <script type="text/javascript" src="js/angular-1.2/angular-touch.min.js"></script>
	<script type="text/javascript" src="js/angular-ui.js"></script>
	<script type="text/javascript" src="js/ui-bootstrap-0.3.0.min.js"></script>
        <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="js/perfect-scrollbar.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
	<script type="text/javascript" src="js/directives.js"></script>
	<script type="text/javascript" src="js/aboutplace.js"></script>
	<script type="text/javascript" src="js/filters.js"></script>
	<script type="text/javascript" src="js/proj4js.js"></script>
	<script type="text/javascript" src="js/urban.js"></script>


<style>
    .*chevron{
    cursor:pointer;
}
   .action_pin{
        background-color:blue;
    }
    
    .action_share{
        background-color:green;
    }
    
    .background {
	fill: none;
	pointer-events: all;
    }
    
    	#cities {
		fill: #AAAAAA;
		stroke: #FFFFFF;
		stroke-width: 1.5px;
	}

    .contained{
              max-width:960px;
        margin:auto;
        min-width:900px;
        position:relative;
    }

.contact-block{
display:inline;}
        .content-section {
		overflow: hidden;
		height: 100%;
		position: relative;
		padding: 0;
		margin: 0;
	}
    /*pulse descriptoxr*/
    
      div.pulse-logo{
        width:6em;
        height:6em;
        border-radius: 50% 50% 50% 50%;
        background-color:#f60;
        position:relative;
        
    }
    
    div.pulse-logo .first{
        background-color:rgba(255,255,255,0.6);
    }
    
    div.pulse-logo div{
        width:70%;
        height:70%;
        background-color:white;
        border-radius: 50% 50% 50% 50%;
        opacity:1;
        position:absolute;
        margin-top:15%;
        margin-left:15%;
    }
    
    /*----------------*/
    	.fade_false {
		opacity: 0.3;
	}

                header{
            /*-moz-box-shadow: #5a5a5a 1px 1px 10px -2px;
            -webkit-box-shadow:  #5a5a5a 1px 1px 10px -2px;
            box-shadow: #5a5a5a 1px 1px 10px -2px;*/
            /*height:30px;
            padding-top:10px;*/
            height:40px;
        }


            footer{
        background-color:white;
        line-height:35px;   
        clear:both;
        background-color:#005580;
        font-size:11px;
        overflow:hidden;
        
    }

    footer h4{
        font-size:0.9em;
    }

    
footer a:before{
    content:"|";
    margin-left:5px; margin-right:5px;
}   

footer div a:first-child:before{
content:"";
margin-left:0px;
margin-right:0px;
}

    footer a,footer a:hover,footer a:active,footer a:focus{
        color:white !important;
        cursor:pointer;
       white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
    }




    fieldset{

    padding-left:0;
    padding-right:0
}
        
        
        header .header-menus{
          float:right;
          text-align:right;
        }
        
        header .header-menus>ul{
            display:block;
            margin-top:20px;
            margin-bottom:20px;
            list-style:none;
            padding:0;
            margin:0;
            
        }
        
        header .header-menus>ul>li{
            padding:0;
            margin:0;
            padding-right:10px;
            margin-left:10px;
            border-right:solid black 1px;
            display:inline;
            position:relative;
            position:relative;
            cursor:pointer;
                
        }
        
        header .header-menus ul>li:last-child{
            border:none;
            padding-right:5px;
        }
        
	.highlight_true {
		color: #f60;
	}

        
        	.disabled_true {
		visibility: hidden;
	}

	label input[type=checkbox] {
		margin-top: -0.05em;
	}
        
        

	#main-view {
		height: 35em;
                clear:both;
	}

	


       
        #main-logo-container{
            vertical-align: baseline;
            /*position: absolute;*/
            top: -10px;/*7px*/
            /*background-color: white;*/
            left: 20px; 
            z-index:6001;
        }
        #main-logo-container #main-logo{
            width:200px;
        }
        
        
        [class^="mapicon_"],
[class*=" mapicon_"]{
        display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -3px;
  *margin-right: .5em;
  line-height: 20px;
  vertical-align: text-top;
  background-image: url("img/map_sprite.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  cursor:pointer;
} 

.mapicon_checked_true{
   background-position: -180px -80px; 
}

.mapicon_checked_false{
   background-position: -220px -80px; 
}
        
        .move-view section{
            width:100%;
        }


        .parent-menu{
            position:relative;
        }  
        
        .parent-menu .sub-menu{
            position:absolute;
            right:0;
            display:none;
            top:100%;
            border:solid black 1px;
            background-color:white;
            white-space: pre;
            text-align:left;
            z-index:3005;
        }
    
        .parent-menu:hover .sub-menu{
            display:block;
        }
    
        .parent-menu .sub-menu a{
            color:black;
            display:block;
            padding-left:5px;
            padding-right:5px;
        }
    
        .parent-menu .sub-menu a.signout{
            border:solid black 1px;
            background-color:#ccc;
        }

 
        .regions_areas_list {
		margin-right: 3em;
		width: 13em;
		overflow: hidden;
		margin-bottom: 1em;
        }

	.regions_areas_list>a {
		font-weight: bold;
	}

	.regions_areas_list li label input[type=checkbox] {
		margin-top: -0.05em;
	}
        
        .scrollable{
            position:relative;
            overflow:hidden;
        }

        .separator{
            clear:both;
        }
        
        
        .slider {
            max-height: 1px;
        }
    
        .sosial-container{
            position:absolute;
            margin-left:50%;
            left:-36px;
        }

    .sosial-container a img{
        width:20px;
    }

    .sosial-container a{
        margin-left:2px;
        margin-right:2px;
        cursor:pointer;
    }

    .sosial-container a:hover{
        opacity:0.8;
    }
    
    .system_1{
        background-position:0 0;
    }
    .system_2{
        background-position:-30px 0px;
    }
    .system_3{
        background-position:-60px 0;
    }
    .system_4{
        background-position:-90px 0;
    }
    .system_5{
        background-position:-120px 0;
    }
    .system_6{
        background-position:-150px 0;
    }
    .system_7{
        background-position:-180px 0;
    }
        
        
    .transparent{
        background:none;
        border:none;
    }    
        
        
    /*-----app icons------*/
    .ucon_action{
        width:30px;
        height:30px;
        background-repeat:no-repeat;
        background-image:url('images/actions_spryte.png');
    }
    
    .ucon_system{
        width:30px;
        height:30px;
        background-repeat:no-repeat;
        background-image:url('images/systems_spryte.png');
    }

	.ui-slider-handle {
		max-height: 10px;
	}

#upper_wrapper{
min-width:900px
}


.g-dropdown{
    position:relative;
    display:inline-block;
    border:solid 1px #ccc;
    padding-right:3px;
}

.g-dropdown i{
    cursor:pointer;
}

.g-dropdown input{
    border:none;
    line-height:1em;
    margin-top:0px;
    margin-bottom:0px;

}

.g-dropdown input:focus{
     border:none !important;
     outline-style: none!important;
box-shadow:none !important;
   

}

.g-dropdown .content{
    position:absolute;
padding-top:6px;
    left:0;
    top:100%;
    width: 600px;
    z-index:4000;
    background-color:white;
    -moz-box-shadow: #5a5a5a 1px 1px 10px -2px;
    -webkit-box-shadow:  #5a5a5a 1px 1px 10px -2px;
    box-shadow: #5a5a5a 1px 1px 10px -2px;
}

#header-lifestyle-selector_dropdown.g-dropdown .content{
    width: auto;
padding-left:3px;
padding-right:3px;
}

.g-dropdown .content .msas-list{
    float:left;
    margin-right:5px;
    margin-left:5px;
    width:30%;
}

.g-dropdown .content .msas-list .msa-header{
    font-size:110%;
font-weight:bold;
border-bottom:solid black 2px;
}

.g-dropdown .content li{
white-space:pre;
border-bottom:solid #bbb 1px;
cursor:pointer;
padding-right:1em;
}

.g-dropdown .content li:after{
content:">";
font-weight:bold;
position:absolute;
right:0;
}


.header-lifestyle-selector{
    height:20px;
    padding-top:4px;
    padding-bottom:4px;
    line-height:1em;
    font-size:14px;
   margin-left:6px;
margin-right:6px;
}


#header-lifestyle-selector_dropdown{
    padding-top:3px;
    padding-bottom:5px;
margin-right:3px;
}
</style>
  <script>
      $(document).ready(function(){
        $(window).resize(function(){
           setTimeout(function(){
               $('.scrollable').perfectScrollbar('update');}
            )
        })
      })

  </script>
  
  
  

  
</head>
<body   ng-controller="AppController" ng-init="authServer='<%= authServerURL %>/'; user=<%= user %>; logged=<%= logged %>" ng-click="CollapseAll()" class="mobile-touch" > 
    <div id="upper_wrapper"  class="main_app1" ng-cloack update="{/{state}/}">
        <header>
<div>
            <span id="main-logo-container"><a href="#/home" class="mobile-touch" message="Let's Start all over again!!"><img id="main-logo" src="img/logo.png"></a></span>
            <span><span class="g-dropdown"><input type="text" placeholder="type in an address,city or zip code" ng-model="geo_filter" ng-change="FilterCitites()"><i class="icon-chevron-down" ng-click="ShowCities()"></i><div  ng-show="show_cities" class="content">
                        <div ng-repeat="msa in geo.regions" class="msas-list" ng-show="msa.someSelected">
                            <div class="msa-header">{/{msa.name}/}</div>
                            <ul>
                                <li ng-repeat="area in msa.groups" ng-click="$parent.$parent.SelectArea(area)" ng-show="area.selecteds">{/{area.name}/}</li>
                            </ul>
                        </div>
                        
                    </div></span> 
                    <span class="g-dropdown" id="header-lifestyle-selector_dropdown" ng-click="show_lfs=!show_lfs" style="cursor:pointer"><span class="header-lifestyle-selector"><span ng-hide="selection.activeLifeStyle.id" >Select a Lifestyle</span>{/{selection.activeLifeStyle.name}/}</span><i class="icon-chevron-down" ></i><div class="content" ng-show="show_lfs">
                        <ul>
                            <li ng-repeat="lfs in selection.lifestyles" ng-click="$parent.SelectLifeStyle(lfs)">{/{lfs.name}/}</li>
                        </ul>
                    </div></span><button class="btn btn-success" ng-click="GoTo()">Go</button></span>
                <!--<span class="sosial-container"><a><img src="img/facebook.png"/></a><a><img src="img/twitter.png"/></a><a><img src="img/pincterest.png"/></a></span>-->
            <span class="header-menus">
                <ul >
                <li><li><a>Premium</a></li><li>My Account <i class="icon-chevron-down"></i></li></ul>
            </span>
            
          <div style="clear:both;"></div>  
</div>
        </header> 
        <div id="main_view_wrapper">
            <div ng-view  class="move-view"></div>
        </div>
        <div class="status-report reported_true fadeable" style="z-index:7001;" hide={/{status.length==0}/}>
            <img src="images/loading.gif" style="margin-right:0.5em; width:2em;"><span id="status_message">{/{status}/}</span>
        </div>
        <div class="coverall_overlay1 " redim="{/{getJson(coverAll)}/}" ng-show="coverAll" style="z-index:7000"></div>
    
    <footer class="ie_dim_adjust" iewidth="{/{footerState}/}">
<div class="contained">
<div style="float:right"><a style="font-weight:bold"> &copy;Copyright 2013 Information</a><a>Privacy Link</a><a>Terms & Conditions</a></div>
        <div class="contact-block">
            <a>Place Pulse</a>
            <a>FAQs</a>
            <a>Blog</a>
            <a>About Us</a>
            <a>Contact Us</a>
            <a>API</a>
        </div>
      
</div>
    </footer>
</div>
  
    <script type="text/javascript" src="js/reports.js"></script>
<style type="text/css" media="screen, projection">
    @import url(https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css); 
</style> 
        <script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
<script type="text/javascript">
  FreshWidget.init("", {"queryString": "&widgetType=popup", "widgetType": "popup", "buttonText": "Feedback? ", "buttonColor": "white", "buttonBg": "#FB5F00", "backgroundImage": "", "alignment": "2", "offset": "235px", "formHeight": "500px", "url": "http://aboutplace.freshdesk.com"} );
    
</script>
   </body>
</html>
