<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" id="ng-app" ng-app="aboutPlace"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ABOUTPLACE.co. Relocate Smarter</title>
       
        <link type="text/css" rel="stylesheet" href="css/perfect-scrollbar.css"/>
	<link type="text/css" rel="stylesheet" href="css/angular-ui.css"/>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="css/bootstrap-responsive.min.css"/> 
	<link type="text/css" rel="stylesheet" href="css/aboutplace.css"/>
	<link type="text/css" rel="stylesheet" href="css/animate.css" class="cssfx"/>
        <!--<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>-->
	<script type="text/javascript" src="js/maps/lib/OpenLayers.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/d3.v3.min.js"></script>
        <script type="text/javascript" src="js/angular-1.2/angular.min.js"></script>
        <script type="text/javascript" src="js/angular-1.2/angular-route.min.js"></script>        
        <script type="text/javascript" src="js/angular-1.2/angular-animate.min.js"></script>        
        <script type="text/javascript" src="js/angular-1.2/angular-touch.min.js"></script>
	<script type="text/javascript" src="js/angular-ui.js"></script>
	<script type="text/javascript" src="js/ui-bootstrap-0.3.0.min.js"></script>
        <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="js/perfect-scrollbar.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
	<script type="text/javascript" src="js/directives.js"></script>
	<script type="text/javascript" src="js/aboutplace.js"></script>
	<script type="text/javascript" src="js/filters.js"></script>
	<script type="text/javascript" src="js/proj4js.js"></script>
	<script type="text/javascript" src="js/urban.js"></script>
        <script type="text/javascript" src="js/strategy_tfs.js"></script>
        <script type="text/javascript" src="js/protocol_tfs.js"></script>


<style>
    .*chevron{
    cursor:pointer;
}
   .action_pin{
        background-color:blue;
    }
    
    .action_share{
        background-color:green;
    }
    
    .background {
	fill: none;
	pointer-events: all;
    }

    .action-text{
        color:#f60;
        text-decoration:underlined;
    }
    
    	#cities {
		fill: #AAAAAA;
		stroke: #FFFFFF;
		stroke-width: 1.5px;
	}

    .contained{
              max-width:960px;
        margin:auto;
        min-width:900px;
        position:relative;
    }

.contact-block{
display:inline;}
        .content-section {
		overflow: hidden;
		height: 100%;
		position: relative;
		padding: 0;
		margin: 0;
	}
    /*pulse descriptoxr*/
    
      div.pulse-logo{
        width:6em;
        height:6em;
        border-radius: 50% 50% 50% 50%;
        background-color:#f60;
        position:relative;
        
    }
    
    div.pulse-logo .first{
        background-color:rgba(255,255,255,0.6);
    }
    
    div.pulse-logo div{
        width:70%;
        height:70%;
        background-color:white;
        border-radius: 50% 50% 50% 50%;
        opacity:1;
        position:absolute;
        margin-top:15%;
        margin-left:15%;
    }
    
    /*----------------*/
    	.fade_false {
		opacity: 0.3;
	}

       header{
            /*-moz-box-shadow: #5a5a5a 1px 1px 10px -2px;
            -webkit-box-shadow:  #5a5a5a 1px 1px 10px -2px;
            box-shadow: #5a5a5a 1px 1px 10px -2px;*/
           padding-top:8px;
            height:54px;
            background-color:#f37c20;
            
        }


            footer{
        background-color:white;
        line-height:35px;   
        clear:both;
        background-color:#005580;
        font-size:11px;
        overflow:hidden;
        
    }

    footer h4{
        font-size:0.9em;
    }

    
footer a:before{
    content:"|";
    margin-left:5px; margin-right:5px;
}   

footer div a:first-child:before{
content:"";
margin-left:0px;
margin-right:0px;
}

    footer a,footer a:hover,footer a:active,footer a:focus{
        color:white !important;
        cursor:pointer;
       white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
    }




    fieldset{

    padding-left:0;
    padding-right:0
}
        
        
        header .searching_bar{
            margin-left:30px;
            height:43px;

           
        }

        header .searching_bar .search_term.accepted .display {
            /*display: table-cell !important;
            padding-left: 10px;
            height: 40px;
            padding-top: 5px;
            width: 320px;
            padding-bottom: 0px;
            vertical-align: middle;
            color:white;*/
            display:none !important;
        }

        header .searching_bar .search_term.accepted .term {
            display:inline-block !important;

        }

        header .searching_bar.covered-remove{
            transition:all 300ms linear 1s;
           
        }


        header .g-dropdown.covered,  header .g-dropdown.covered-add, header .g-dropdown.covered-add.covered-remove, header .g-dropdown.covered-add.covered-remove-active,  header .g-dropdown.covered-remove{
            position:absolute  !important;
            top:250px !important; 
            left:50% !important;
            margin-left:-25px !important;
            z-index:8000;
        }


        #header-lifestyle-selector_dropdown.covered, #header-lifestyle-selector_dropdown.covered-add, #header-lifestyle-selector_dropdown.covered-add.covered-remove, #header-lifestyle-selector_dropdown.covered-add.covered-remove-active, #header-lifestyle-selector_dropdown.covered-remove{
            width: 350px !important;
            height:49px  !important;
        }


        #header-lifestyle-selector_dropdown.covered .header-lifestyle-selector, #header-lifestyle-selector_dropdown.covered-add .header-lifestyle-selector, #header-lifestyle-selector_dropdown.covered-add.covered-remove .header-lifestyle-selector, #header-lifestyle-selector_dropdown.covered-add.covered-remove-active .header-lifestyle-selector{
            padding-top:7px  !important;
            padding-bottom:7px  !important;
            width: 280px  !important;
    
    
   
        }


        header .searching_bar.covered,header .searching_bar.covered-add,header .searching_bar.covered-add.covered-remove-active,header .searching_bar.covered-remove{
            position:absolute;
            z-index:8000;
            top:250px  !important;
            left:50%  !important;
            margin-left:-415px  !important;
           
        }

        header .searching_bar.covered .search_term .term,header .searching_bar.covered-add .search_term .term,header .searching_bar.covered-add.covered-remove-active .search_term .term{
           margin-top:10px !important;
           width:320px !important;
           
        }

        header .searching_bar.covered .term-cont,header .searching_bar.covered-add .term-cont,header .searching_bar.covered-add.covered-remove-active .term-cont{
            height:49px !important;
            width:350px !important;
           
        }



         header .global-search-submit-button.covered-remove{

            transition:all 300ms linear 1s;
        }

        header .global-search-submit-button.covered-remove-active{
            width:45px !important;
            height:45px !important;
            top:20px !important;
            left:850px !important;
            margin-left:0 !important;
        }

        header .searching_bar.covered-remove-active{
            height:43px !important;
            width:247px !important;
            top:20px !important;
            left:250px !important;
            margin-left:0 !important;
        }

         header .g-dropdown.covered-remove-active{
            height:45px !important;
            width:250px !important;
            top:20px !important;
            left:600px !important;
            margin-left:0 !important;
        }

        header .global-search-submit-button{
            width:45px;
            height:45px;
            background-image:url('img/buttons/search.png');
            background-position:center center;
            background-repeat:no-repeat;
            background-size:contain;
            cursor:pointer;
            
        }

                header .global-search-submit-button.covered,header .global-search-submit-button.covered-add,header .global-search-submit-button.covered-add.covered-remove-active{
            width:49px  !important;
            height:49px  !important;
            position:absolute  !important;
            left:50%  !important;
            margin-left:355px  !important;
            top:250px  !important;
            z-index:8000;
        }
        
        header .searching_bar .search_term .term{
            background-color:transparent;
            font-size:16px;
            margin-top:7px;
        }
        
        header .searching_bar .search_term.error{
            border:solid 1px red !important;
            border-radius:6px
        }

        header .searching_bar .search_term i{
           
            margin-top:7px;

        }

                header .searching_bar .search_term.accepted i{
           
            margin-top:2px;

        }






        header .searching_bar .search_term .term-cont{
            /*background-color: #f69d58;*/
            background-color: white;
            height:43px;
            padding-right:8px;
            border-radius:5px;
            border:solid 1px #dcdcdc !important;
        }

header .searching_bar .search_term li ul li {
white-space: pre;
border-bottom: solid #bbb 1px;
cursor: pointer;
color: black;
height: 34px;
padding-top: 10px;
padding-left:10px;
background-color: #e5e5e5;
text-align: left;
}

header .searching_bar .search_term ul, header .searching_bar .search_term .list{
min-width:100%;
}

header .searching_bar .search_term .list{
top:94% !important;
}

        header .header-menus{
          float:right;
          margin-right:80px;
          text-align:right;
          margin-top: 11px;
        font-size: 16px;
        color: white;
        position:relative;
        }
        
        header .header-menus>ul{
            display:block;
            margin-top:20px;
            margin-bottom:20px;
            list-style:none;
            padding:0;
            margin:0;
            
        }
        
        header .header-menus>ul>li{
            padding:0;
            margin:0;
            padding-right:10px;
            margin-left:10px;
            border-right:solid #ffa44b 1px;
            display:inline;
            position:relative;
            position:relative;
            cursor:pointer;
                
        }
        
        header .header-menus ul>li:last-child{
            border:none;
            padding-right:5px;
        }

       

        
	.highlight_true {
		color: #f60;
	}

        
        	.disabled_true {
		visibility: hidden;
	}

	label input[type=checkbox] {
		margin-top: -0.05em;
	}
        
        

	#main-view {
		height: 35em;
                clear:both;
	}

	


       
        #main-logo-container{
            vertical-align: baseline;
            /*position: absolute;*/
            top: -10px;/*7px*/
            /*background-color: white;*/
            margin-left: 80px; 
            z-index:6001;
            display:inline-block;
            height:35px;
            padding-top:10px;
        }
        #main-logo-container #main-logo{
            width:180px;
        }
        
        
        [class^="mapicon_"],
[class*=" mapicon_"]{
        display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -3px;
  *margin-right: .5em;
  line-height: 20px;
  vertical-align: text-top;
  background-image: url("img/map_sprite.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  cursor:pointer;
} 

.mapicon_checked_true{
   background-position: -180px -80px; 
}

.mapicon_checked_false{
   background-position: -220px -80px; 
}
        
        .move-view section{
            width:100%;
        }


        .parent-menu{
            position:relative;
        }  
        
        .parent-menu .sub-menu{
            position:absolute;
            right:0;
            display:none;
            top:100%;
            border:solid black 1px;
            background-color:white;
            white-space: pre;
            text-align:left;
            z-index:3005;
        }
    
        .parent-menu:hover .sub-menu{
            display:block;
        }
    
        .parent-menu .sub-menu a{
            color:black;
            display:block;
            padding-left:5px;
            padding-right:5px;
        }
    
        .parent-menu .sub-menu a.signout{
            border:solid black 1px;
            background-color:#ccc;
        }

 
        .regions_areas_list {
		margin-right: 3em;
		width: 13em;
		overflow: hidden;
		margin-bottom: 1em;
        }

	.regions_areas_list>a {
		font-weight: bold;
	}

	.regions_areas_list li label input[type=checkbox] {
		margin-top: -0.05em;
	}
        
        .scrollable{
            position:relative;
            overflow:hidden;
        }

        .separator{
            clear:both;
        }
        
        
        .slider {
            max-height: 1px;
        }
    
        .sosial-container{
            position:absolute;
            margin-left:50%;
            left:-36px;
        }

    .sosial-container a img{
        width:20px;
    }

    .sosial-container a{
        margin-left:2px;
        margin-right:2px;
        cursor:pointer;
    }

    .sosial-container a:hover{
        opacity:0.8;
    }
    
    .system_1{
        background-position:0 0;
    }
    .system_2{
        background-position:-30px 0px;
    }
    .system_3{
        background-position:-60px 0;
    }
    .system_4{
        background-position:-90px 0;
    }
    .system_5{
        background-position:-120px 0;
    }
    .system_6{
        background-position:-150px 0;
    }
    .system_7{
        background-position:-180px 0;
    }
        
        
    .transparent{
        background:none;
        border:none;
    }    
        
        
    /*-----app icons------*/
    .ucon_action{
        width:30px;
        height:30px;
        background-repeat:no-repeat;
        background-image:url('images/actions_spryte.png');
    }
    
    .ucon_system{
        width:30px;
        height:30px;
        background-repeat:no-repeat;
        background-image:url('images/systems_spryte.png');
    }

	.ui-slider-handle {
		max-height: 10px;
	}

#upper_wrapper{
min-width:1204px
}


.g-dropdown{
    position:relative;
    display:inline-block;
    border:solid 1px #ccc;
    padding-right:3px;
}

.g-dropdown.covered-remove{

    transition:all 300ms linear 1s;
}

.g-dropdown i{
    cursor:pointer;
}

.g-dropdown input{
    border:none;
    line-height:1em;
    margin-top:0px;
    margin-bottom:0px;

}

.g-dropdown input:focus{
     border:none !important;
     outline-style: none!important;
box-shadow:none !important;
   

}

.g-dropdown .content{
    position:absolute;
padding-top:6px;
    left:-1px;
    top:94%;
    min-width: 99%;
    z-index:4000;
    background-color:#e5e5e5;
    -moz-box-shadow: #5a5a5a 1px 1px 10px -2px;
    -webkit-box-shadow:  #5a5a5a 1px 1px 10px -2px;
    box-shadow: #5a5a5a 1px 1px 10px -2px;
}

#header-lifestyle-selector_dropdown.g-dropdown .content{
    width: auto;
padding-left:3px;
padding-right:3px;
}

.g-dropdown .content .msas-list{
    float:left;
    margin-right:5px;
    margin-left:5px;
    width:30%;
}

.g-dropdown .content .msas-list .msa-header{
    font-size:110%;
font-weight:bold;
border-bottom:solid black 2px;
}

.g-dropdown .content li{
white-space:pre;
border-bottom:solid #bbb 1px;
cursor:pointer;
padding-right:1em;
color:black;
height:34px;
padding-top:10px;
background-color:#e5e5e5;

}

.g-dropdown .content li.active{
background-color:#f69d58;
color:white;

}



.header-lifestyle-selector{
    height:20px;
    padding-top:4px;
    padding-bottom:4px;
    line-height:1em;
    font-size:16px;
   margin-left:6px;
margin-right:6px;
/*color:white;*/
color:#666;
    margin-top:11px;
    display: inline-block;
    width: 190px;
    
    
   
}

.icon-holder{
   display: inline-block;
    width: 28px;
    height:28px;
    background-image:url('img/icons/lfs_sprite.png');
    background-repeat:no-repeat;
    margin-top: -5px;
margin-right:3px;
    
   
}

.active_lifestyle_{
    background-position: 0px -27px;
}

.active_lifestyle_1434{
    background-position: -27px -27px;
}

.active_lifestyle_1144{
    background-position: -54px -27px;
}

.active_lifestyle_1178{
    background-position: -81px -27px;
}

.active_lifestyle_1145{
    background-position: -108px -27px;
}

.active_lifestyle_1179{
    background-position: -135px -27px;
}

.active_lifestyle_1284{
    background-position: -162px -27px;
}

.active_lifestyle_1142{
    background-position: -189px -27px;
}



.lifestyle_{
    background-position: 0px 0px;
}
.lifestyle_1434{
    background-position: -27px -0px;
}

.lifestyle_1144{
    background-position: -54px -0px;
}

.lifestyle_1178{
    background-position: -81px -0px;
}

.lifestyle_1145{
    background-position: -108px -0px;
}

.lifestyle_1179{
    background-position: -135px -0px;
}

.lifestyle_1284{
    background-position: -162px -0px;
}

.lifestyle_1142{
    background-position: -189px -0px;
}

#header-lifestyle-selector_dropdown{
    
margin-right:10px;
margin-left:10px;
font-size: 16px;
/*background-color: #f69d58;*/
background-color: white;
/*color: white;*/
color:#ddd;
border-radius: 5px;
width: 250px;
 /*border:solid 1px #e2731e !important;*/
border:solid 1px #eee !important;
height:43px;

}

.coverall_overlay{
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    
}

.coverall_overlay.ng-hide-add{
    position:fixed !important;
    opactity:0.4;
    transition:opacity 500ms linear 1400ms;
}

.coverall_overlay.ng-hide-add-active{
    opacity:0 !important;
}


.auth-box-container{
    position: absolute;
    width: 220px;
    right:0px;
    top: 50px;

    z-index: 9000;
    background-color: white;
    border-radius:4px 4px 0 0;
    padding-left:5px; 
    padding-right:5px
}

.auth-box-container .arrow{
    border: solid 11px transparent;
    border-bottom-color:white !important;
    top:-22px;
    width:0px;
    height:0px;
    margin-left:50%;
    left:-6px;
    position:absolute;
}

.auth-box-container.signup .arrow{
    margin-left:0;
    left:180px;

}


.auth-box-container .arrow:after{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    position: absolute;
    top:1px;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 10px;
    content: "";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-color: white !important;
    border-top-width: 0;
    position:absolute;
}

.auth-box-container>h3{
    color:#f60;
    text-align:left;
    font-size:18px;
}


.auth-box-container .social{
margin-top:5px;
padding-top:5px;
position:relative;
    
}

.auth-box-container .social button{
    width:100%;
    color:white;
    font-weight:bold;
    margin-bottom:10px;
    
}

.auth-box-container .social .or{
    color:black;
    position:absolute;
    width:30px;
    text-align:center;
    margin-left:50%;
    left:-15px;
    top:-20px;
    background-color:white;
}

.auth-box-container .advice{
    position:absolute;
    width:100%;
    top:100%;
    left:0px;
    border-radius: 0 0 4px 4px;
    background-color:#eee;
    color:#999;
    font-size:13px;
}

.auth-box-container .advice p{
    margin-right:20px
}

.text_as_link{
    text-decoration:underline;
    cursor:pointer
}

.auth-box-container iframe{
    border:none;
    width:220px;
    border-bottom:solid 1px #ddd;
    
}

.auth-box-container.login iframe{
    height:200px;
    
}

.auth-box-container.signup iframe{
    height:250px;
    
}

.rt-close{
    position:absolute;
    right:10px;
    top:10px;
    cursor:pointer;
}

</style>
  <script>
      $(document).ready(function(){
        $(window).resize(function(){
           setTimeout(function(){
               $('.scrollable').perfectScrollbar('update');}
            )
        })
      })

  </script>
  
  
  

  
</head>
<body   ng-controller="AppController" ng-init="authServer='<%= authServerURL %>/'" ng-click="CollapseAll()" class="mobile-touch" > 

    
<div id="upper_wrapper"  class="main_app1" ng-cloack update="{/{state}/}">
        <header>
<div class="header-row">
    <div class="header-cell" >
            <table style="float:left" cellpadding="0" cell spacing="0" border="0"><tr><td><span id="main-logo-container"><a href="#/home" class="mobile-touch" message="Let's Start all over again!!"><img id="main-logo" src="img/logo.png"></a></span></td>

                  <td style="vertical-align:top">  <div style="width:250px; display:inline-block;" type="addr" class="search_bar"  ng-class="{covered:$parent.coverAll}" show_hidden="false" max_search="1" visibles="1" show_categories="false" base_url="api/address/" placeh="Address, City or Zip code" elastic="false" details="true"></div></td>
                  <td style="vertical-align:top"><span class="g-drop" id="header-lifestyle-selector_dropdown" ng-class="{covered:$parent.coverAll}" options="selection.lifestyles" type="lifestyle"></span> </td>
                  <td style="vertical-align:top">
                        <div class="global-search-submit-button" ng-click="UpdateSpots()" ng-class="{covered:coverAll}"></div></span>
                  </td>
                  </tr>
                  </table>
                
            <span class="header-menus">
                <ul >
                <li ng-if="user && user.token">Upgrade to Premium</li><li ng-if="user && user.token">My Account</li><li ng-if="!user || !user.token" ng-click="ShowLogIn()">Log In</li><li ng-if="!user || !user.token" ng-click="ShowSignUp()">Sign Up</li></ul>
            
                <div ng-show="showAuthBox" class="auth-box-container" ng-class="{login:!newAcount, signup:newAccount}">
                    <div class="arrow"></div>
                    <h3>{/{newAccount?'Sign Up':'Log In'}/}</h3><i class="icon-remove rt-close" ng-click="ShowPlainAuth()"></i>
                    <iframe class="auth-frame" src="{/{authUrl}/}"></iframe>
                    <div class="social">
<div class="or">or</div>
                        <button class="btn btn-primary" ng-click="Register('facebook')">{/{newAccount?'Sign Up':'Log In'}/} with Facebook</button><br/>
                        <button class="btn btn-danger" ng-click="Register('google')">{/{newAccount?'Sign Up':'Log In'}/} with Google+</button>
                    </div>
                <div class="advice">
                    <p ng-show="newAccount">Already have an account <span class="text_as_link" ng-click="ShowPlainAuth('login?srd=authsuccess',true)">Log In</span><p>
                    <p ng-show="!newAccount">Don't have an account <span class="text_as_link" ng-click="ShowPlainAuth('signup?srd=authsuccess',true,true)">Sign Up</span><p>
                </div>
                </div>

            </span>
            
          <div style="clear:both;"></div>  
</div>
<div>
        </header> 

        <div id="main_view_wrapper">
            <div ng-view  class="move-view"></div>
        </div>
        <div class="status-report reported_true fadeable" style="z-index:7001;" hide={/{status.length==0}/}>
            <img src="images/loading.gif" style="margin-right:0.5em; width:2em;"><span id="status_message">{/{status}/}</span>
        </div>
        <div class="coverall_overlay"  ng-show="coverAll" style="z-index:7000"></div>
    
<!--    <footer class="ie_dim_adjust" iewidth="{/{footerState}/}">
<div class="contained">
<div style="float:right"><a style="font-weight:bold"> &copy;Copyright 2013 Information</a><a>Privacy Link</a><a>Terms & Conditions</a></div>
        <div class="contact-block">
            <a>Place Pulse</a>
            <a>FAQs</a>
            <a>Blog</a>
            <a>About Us</a>
            <a>Contact Us</a>
            <a>API</a>
        </div>
      
</div>
    </footer>-->
</div>
  
    <script type="text/javascript" src="js/reports.js"></script>
<style type="text/css" media="screen, projection">
    @import url(https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css); 
</style> 
        <script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
<script type="text/javascript">
  FreshWidget.init("", {"queryString": "&widgetType=popup", "widgetType": "popup", "buttonText": "Feedback? ", "buttonColor": "white", "buttonBg": "#FB5F00", "backgroundImage": "", "alignment": "2", "offset": "235px", "formHeight": "500px", "url": "http://aboutplace.freshdesk.com"} );
    
</script>




  


   </body>
</html>
