<style>
    
   .pulse-marker.cluster_gt_4{
       width:30px !important;
       height:30px !important;
       margin:0 !important;
       font-size:45%;
       font-weight:normal;
       

   } 
   
      .pulse-marker.cluster_2_0{
       margin-left:-30%;
       height:55px !important;
       margin-top:10px;

   }
   
    .pulse-marker.cluster_2_1{
       margin-left:30%;
       height:55px !important;
       margin-top:10px;

   }
    
   .pulse-marker.cluster_3_0, .pulse-marker.cluster_4_0{
       margin-left:-40%;
       margin-top:40%;
   }
   
  
   .pulse-marker.cluster_3_2, .pulse-marker.cluster_4_2{
       margin-left:40%;
       margin-top:40%;
   }
   
     .pulse-marker.cluster_4_3{
       margin-top:100%;
   }
   
   
       .pulse-marker .marker-text{
        text-align: center;
font-weight: bold;
font-size: 180%;
position: absolute;
width: 100%;
left: 0;
top: 29.9%;
    }
   
   .pulse-marker.cluster_gt_4 .marker-text{
       top: 15%;
       

   } 
    
        .pulse-marker.cluster_3_0 .marker-text, .pulse-marker.cluster_4_0 .marker-text{
                margin-left:-7%;
        }
        
        .pulse-marker.cluster_3_2 .marker-text, .pulse-marker.cluster_4_2 .marker-text{
                margin-left:8%;
        }
   
    .pulse-marker.cluster_3_0, .pulse-marker.cluster_4_0,  .pulse-marker.cluster_3_2, .pulse-marker.cluster_4_2{
           
               height:55px !important;
        }
        
            .pulse-marker img{
            width:100% !important;
            height:100% !important;
        }
        
        .pulse-marker{
            width:60px !important;
               height:65px !important;
            transition: all 0.3s ease;
            cursor:pointer;
            font-size:85%;
        }
        .pulse-marker .marker-text{
             transition: all 0s linear;
        }
        
        .pulse-marker:hover{
            width:100% !important;
            height:100% !important;
            font-size:130%;
            z-index:4100;
        }
        
       .pulse-marker:hover .marker-text{
            top:35%;
        }
        .pulse-marker.cluster_1_0:hover,.pulse-marker.cluster_3_1:hover,.pulse-marker.cluster_4_1:hover{
            margin-top:-50%;
            margin-left:-20%;
            
        }
        
        .pulse-marker.cluster_2_0:hover{
            margin-top:-25%;
            margin-left:-55%;
        }
        
        .pulse-marker.cluster_2_1:hover{
            margin-top:-25%;
            margin-left:10%;
        }
   
        
       .pulse-marker.cluster_3_0:hover{
            margin-top:20%;
            margin-left:-80%;
        }
        
        .pulse-marker.cluster_3_2:hover{
            margin-top:20%;
            margin-left:40%;
        }
   
    #menu_state_switch{
        cursor:pointer;
        margin-top:0px;
       /* margin-bottom:10px;*/
        color:white;
        font-weight:bold;
        text-shadow: 1px 1px 5px #666;
        display:inline-block;
        overflow:hidden;
        padding-right: 30px;
        display:block;
    }
    
    #menu_state_switch i{
        margin-top:-1px;
        margin-right:2px;
    }
    div.olControlZoom a{
        color:black !important;
        background-color:white;
        width:26px !important;
        padding-top:2px;
     }
     
    div.olControlZoom{
        background-color:#e3e3e3;
        padding:0;
        box-shadow: #e3e3e3 1px 1px 10px 1px;
        
     }
     
     div.olControlZoom a:hover{
         background-color:white;
        color:#ccc !important;
     }
     
     div.olControlZoom a:active{
        background-color:white;
        color:black !important;
     }

    
    
   
    
    #main-view{
        height:auto !important;
    }
    
    #nhbd_page{
        position:relative;
        overflow:hidden;
        
        
        
        
        
    }
    
    #nhbd_page .ps-scrollbar-y{
        z-index:4000 !important;
    }
    
    #nhbd_page .ucon_system{
        float:right;
    }

    
    
    
    .shadowtop{
        -moz-box-shadow: #5a5a5a 1px 5px 20px -5px;;
        -webkit-box-shadow:  #5a5a5a 1px 5px 20px -5px;;
        box-shadow: #5a5a5a 1px 5px 20px -5px;;
        z-index:4000;
        position:absolute;
        top:0;
        left:0;
        width:100%
        
    }
    
    
    
    
   
    
    .filters-bar{
        padding-top:10px;
        height:40px;
        background-color:white;
        right:0px;
        top:0px;
        z-index:2999;
        -moz-box-shadow: #5a5a5a 1px 1px 10px -2px;
        -webkit-box-shadow:  #5a5a5a 1px 1px 10px -2px;
        box-shadow: #5a5a5a 1px 1px 10px -2px;
        border-top:solid 1px #eee;
        border-radius:0px 0px 0px 5px;
    }
    
    .filters-bar ul{
        margin-left:30px;
    }
    
    .filters-bar ul li{
        margin-right:30px;
        cursor:pointer;
    }
    
    .static_element{
        position:absolute;
    }
    
    .main_map{
        width:100%;
        height:100%;
        left:0px;
        top:0px;
    }
    
    

    
    .main_map div.olControlZoom{
        left:95px;
        top:40px;
    }
    
    .left_bar_hidden .main_map div.olControlZoom{
        left:95px;
    }
    
#main-map img{
   max-width:none;
}

.lifestyles.dropdown-button{
    display:inline-block;
    cursor:pointer;
}


.lf_group{
    margin-top:5px;
    position:relative;
}

.lf_group .upopover{
    width:auto;
    min-width:40px;
    left:3px !important;
    margin-left:0 !important;
    height:auto !important;
    max-height:none !important;
    top:100%;
    
}

.lf_group .upopover .arrow{
    margin-left:0 !important;
    left:10px !important;
    border-bottom-color:white !important;
}

.lf_group .upopover .popover-content ul li{
     white-space: pre;
     cursor:pointer;
     margin-bottom:3px;
}

.results-block, .score-card-block{
    background-color:#f9f8f4;
    border-radius:5px 5px 5px 5px;
    -moz-box-shadow: #5a5a5a 1px 1px 10px -2px;
    -webkit-box-shadow:  #5a5a5a 1px 1px 10px -2px;
    box-shadow: #5a5a5a 1px 1px 10px -2px;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
    position:relative;
    overflow:visible;
    
    
}

.results-block.active_false{
    overflow:hidden;
    height:1em;
}


    .results-block.active_true{
        padding-top:2em;
        margin-top:2em;
    }

    .results-block .block-tag{
       font-size:14px; 
       font-weight:bold;
    }
    
    
    .active_true .block-tag{
        position:absolute;
        top:-0.9em;
        
        border-radius:4px 4px 4px 4px;
        border:solid #f9f8f4 3px;
        border-radius:5px 5px 5px 5px;
        -moz-box-shadow: #5a5a5a 0px -4px 8px -2px;
        -webkit-box-shadow:  #5a5a5a 0px -4px 8px -2px;
        box-shadow: #5a5a5a 0px -4px 8px -2px;
        line-height:normal;
        padding:0.4em;
        font-weight:bold;
        color:white;
    }
    
    .active_false .block-tag .badge{
        line-height: 1em;
    }
    
    #places_block.active_true .block-tag{
        background-color:#f8973e;
    }
    
    #compare_block.active_true .block-tag{
        background-color:#999;
    }
    
    #cities_block.active_true .block-tag{
        background-color:#36b2de;
    }
   
    

.score-content{
    padding-left:5px;
    padding-right:5px;
    background-color:white;
    padding-bottom:5px;
}

.score-content .hidden-content hr{
    height:1px;
    margin:0;
    margin-top:10px;
    margin-bottom:5px;
}

.score-content .upgrade-message{
    color:#bbb;
    width:60%;
    margin-top:5px;
    margin-bottom:2px;
}

.hs-geographies-list{
    color:#c8c9c6
}

.mapicon_active_system{
   background-position: -20px 0px; 
   margin-right:2px;
}



.mapicon_inactive_system{
   background-position: -60px 0px;
   margin-right:2px;
}


.mapicon_arrow_down{
   background-position: -20px -120px; 
   height: 15px;
margin-top: 2px;
}

.mapicon_dark_arrow_down{
   background-position: -20px -80px; 
}

.mapicon_dark_arrow_right{
   background-position: -60px -80px; 
}

.mapicon_view_compare{
   background-position: -180px -160px; 
}

.mapicon_expand_down{
   background-position: -20px -160px; 

}

.mapicon_expand_up{
   background-position: -100px -160px; 

}


.mapicon_dark_close{
   background-position: -100px 0px; 
}

.mapicon_star_true{
    background-position: -260px -160px; 
}

.mapicon_star_false{
    background-position: -300px -160px; 
}

.mapicon_star_false.disabled{
    opacity:0.4; 
}

.modal{
    z-index: 6001 !important;
}

.modal-backdrop{
    z-index: 6000 !important;
}

.popover-content li:hover .mapicon_inactive_system{
   background-position: -220px 0px; 
}

.popover-content li:hover .mapicon_active_system{
   background-position: -180px 0px; 
}

     
  
        .main_container.ng-enter{
            -webkit-transition:margin-left linear  0.3s 0.1s;
            -moz-transition:margin-left linear 0.3s 0.1s;
            -o-transition:left linear  0.3s 0.1s;
            transition:margin-left linear  0.3s 0.1s;
        }
        
        .main_container.ng-enter{
            opacity:1;
            /*position:absolute !important;*/
            width:290px !important;
            margin-left:-330px;
            overflow:hidden;
         
        }
        
        .main_container.ng-enter.ng-enter-active {
          opacity:1;
          margin-left:0px;
          width:290px !important;
        }
        
        .main_container.ng-leave {
           /* -webkit-transition:opacity linear 0.2s 1s;
            -moz-transition:opacity linear 0.2s 1s;
            -o-transition:opacity linear 0.2s 1s;
            transition:opacity linear 0.2s 1s;*/
            display:none;
           /* opacity:1;
            position:absolute;
            width:290px !important;*/
      
        }
        .main_container.ng-leave.ng-leave-active {
            display:none;
           /* opacity:0;
            position:absolute;
            width:290px !important;*/
        }
        
        .removable-selected-element-box{
            font-size:12px;
            display:inline;
             border:solid 1px black;
        }
        

        
        .removable-selected-element-box .remove-button, .removable-selected-element-box .details-button{
            border-right:solid 1px black;
            padding:2px;
            padding-top:0px;
            padding-bottom:0px;
            margin-right:3px;
            cursor:pointer;
            background-color:#badebc;
            
        }
        
         .removable-selected-element-box .details-button{
            
            border:none; 
            border-left:solid 1px black;
            margin-right: 0px;
        }
        
        .reset-button{
            color:blue;
            text-decoration: underline;
            display:block;
        }
        
        .closeable-block .close-button{
            position:absolute;
            right:5px;
            top:5px;
            cursor:pointer;
        }
    
        .variables-list{
            display:inline-block; 
            margin-right:20px;
        }
        
        .variables-list.active{
            color:#f60;
            font-weight:bold;
        }
</style>
<!-- with animation skips dimentioning whrn rendered<section  id="nhbd_page" class="content-section scrollable resizeable" global="1" auto="self" height-adjust="header" skip-render="true" style="width:100%; height:600px;">-->
<div  id="nhbd_page" class="content-section scrollable resizeable take-pos" global="1" auto="self" height-adjust="header" style="width:100%; height:600px;" update="{/{updateMapSpace}/}" ng-class="{left_bar_hidden:menu_state==='short'}">
  <div class="shadowtop static_element"></div>
 
    <div class="filters-bar static_element resizeable"  width_adjust="200" >
        <ul style="margin-right:90px;" ng-hide="title">
            <li ng-repeat="map in variables" class="variables-list" ng-click="SetActiveVar($index)" ng-class="{active:($parent.variable==$index)}">{{map.tag}}</li>
        </ul>
        <h4 style="margin-left:30px;">{{title}}</h4>
    </div>
    
    
    
                
                   <div class="main_map static_element" variable="{{variables[variable].name}}"  base="google"></div>
                
    
</div>
<!--<div class="legal-links"><a href="http://www.aboutplace.co/tac.html" target="_blanck">Terms of Use</a> <a href="http://www.aboutplace.co/privacy.html" target="_blanck">Privacy</a></div>
<button class="btn footer-toggler btn-small mobile-touch"  ng-click="toogleFooter()" prevent="true"><i class="icon-chevron-{/{expandedFooter?'right':'left'}/}"></i></button>-->
