<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<section class="text-slide">
    <h1>SERVICES</h1>
    <h3>within Miami MSA</h3>
    <p>Includes Miami Dade, Broward and West Palm Beach Counties</p>
    <ul style="margin-left:90px; margin-right:90px;">
        <li>
            Public Transit
        </li>
        <li>
            Supermarkets 
        </li>
        <li>
            Fine Dining 
        </li>
        <li>
            Combined SMARTMapp of all 3 services 
        </li>        
    </ul>

</section>
