<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<section class="text-slide">
    <h1>CONCLUSIONS</h1>
    <h2>WHAT WE LEARNED </h2>
    <ul>
        <li>The machine learning method allowed us to select key variables without <span style="color:#f60">domain knowledge</span>
            <ul>
                <li>the data driven approach avoids relying on unconfirmed assumptions. </li>
            </ul>
</li>
        <li><span style="color:#f60">Domain knowledge</span> yields different results than the machine learning method</li>
        <li>We need more data to increase the prediction power of our model</li>
        <li>Geographic dimension of this phenomenon is undeniable</li>       
    </ul>



</section>
