<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<section class="text-slide">
    <h1>GOALS</h1>
    <ul>
        <li>
            <h3>Overall Goal:</h3> Assist United Way in developing analytics that will help their decision making and optimize the impact their programs have on the Miami Dade community. 
        </li>
        <li>
            <h3>Immediate Goals:</h3> 
            <ul>
                <li>Find potential variables that affect <span style="color:#f60">educational performance</span> </li>
                <li>Explore spatial patterns between those variables and their confounding factors</li>
            </ul>
        </li>
    </ul>
    




</section>
