<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<section class="text-slide">
    <h1>MEASURING EDUCATION</h1>
    <ul>
        <li style="color:#f60">3rd Grade FCAT Reading Achievement</li>
        <li>8th Grade FCAT Reading Achievement</li>
        <li>8th Grade FCAT Math Achievement</li>
        <li>10th Grade FCAT Reading Achievement</li>
        <li>Graduation Rates </li>
        <li>Dropout Rates </li> 
        <li>Attendance Rates for Elementary, Middle and High Schools </li>
    </ul>
    <br>
    <span class="note">FCAT Achievements = Percentage of students who scored a level 3 or above</span>
    




</section>
