<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<section class="text-slide">
    <h1>TECHNIQUES</h1>
    <ul>
        <li>Variable Selection: Using cutting edge machine learning tools to identify key variables (out of thousands of possible candidates) that might affect educational performance negatively.
            <ul>
                <li>these tools are often used for stock market predictions and the fields of genomics and econometrics</li>
            </ul>
</li>
        <li>Spatial Analysis: We analyzed how the relationships between educational performance and the key variables vary across geographies.</li>
        <li>Spatial Profiling: We described the infrastructure constitution of areas that are susceptible to lower educational performance.</li>
        <li>Spatial Autocorrelation: We quantified the relationship between key variables and infrastructure systems.</li>       
    </ul>
    
    <span class="note">FCAT Achievements = Percentage of students who scored a level 3 or above</span>
    




</section>
