<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<section class="text-slide">
    <h1>GOALS</h1>
    <ul>
        <li>
            <h3>Overall Goal:</h3> Use our tools to help United Way measure the impact of their programs on the quality of education, financial stability and overall health of the Miami Dade Community. 
        </li>
        <li>
            <h3>Immediate Goals:</h3> 
            <ul>
                <li>Find potential variables that affect educational performance </li>
                <li>Explore spatial patterns between those variables and their confounding factors</li>
            </ul>
        </li>
    </ul>
    


Explore spatial patterns between those variables and their confounding factors 

</section>
